accelerate==0.20.3
deep_translator==1.11.1
diffusers==0.17.1
ftfy==6.1.1
gradio==3.35.2
keybert==0.7.0
keyphrase_vectorizers==0.0.11
nltk==3.8.1
numpy==1.24.3
Pillow==9.5.0
requests==2.31.0
scipy==1.10.1
sentencepiece==0.1.99
spacy==3.5.3
spacy-transformers==1.2.5
SPARQLWrapper==2.0.0
##torch==2.0.0+cu118 #2.0.1+cu118
##torchaudio==2.0.2+cu118
##torchvision==0.15.1+cu118 #0.15.2+cu118
tqdm==4.65.0
transformers==4.30.2
wordcloud==1.9.2
xformers==0.0.17rc482